{% extends 'base_template.html' %}
{% load staticfiles %}

{% block main_content %}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="text-center">
            <p class="headings" id="aboutus_heading">ABOUT US</p>
        </div>
        <p>
            Fifth Wall is an exclusive open gallery devoted to street art. The gallery includes works of renowned

            artists as well as upcoming artist. We also provide workspace for the artists who are striving to make

            an identity.<br /><br />

            The gallery is open for everyone, and the public will also get an opportunity to interact with the

            artists during the exhibition.

            Spanning across 7000 square feet under the Raja Garden flyover at King’s Park Street, it’s a perfect

            place where people comes for leisure.
        </p>
    </div>
</div>

{% endblock %}
