{% extends 'base_template.html' %}
{% load staticfiles %}

{% block main_content %}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="text-center">
            <p class="headings" id="aboutus_heading">ABOUT US</p>
        </div>
        <p>
            Fifth Wall is an exclusive open gallery devoted to street art. The gallery includes works of renowned

            artists as well as upcoming artist. We also provide workspace for the artists who are striving to make

            an identity.<br /><br />

            The gallery is open for everyone, and the public will also get an opportunity to interact with the

            artists during the exhibition.

            Spanning across 7000 square feet under the Raja Garden flyover at King’s Park Street, it’s a perfect

            place where people comes for leisure.
        </p>
    </div>
</div>

<h1>Django Channels Example</h1>
  <p class="deck">
    This is a demo using <a href="http://channels.readthedocs.org/en/latest/">
    Django Channels</a> to implement a simple WebSocket-based chat server.
    You can see the <a href="https://github.com/jacobian/channels-example">
    code on GitHub</a>, or try the app:
  </p>
  <p>
    <a class="button button-primary" href="/general/new">Create new chat room</a>
  </p>
  <p class="quiet">
    Or, you can visit <code>{{ request.scheme }}://{{ request.get_host }}/any-path-you-want</code>
    to create a arbitrary room or join one whose name you know.
  </p>

{% endblock %}
