{% extends 'base_template.html' %}
{% load staticfiles %}

{% block main_content %}
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <ul class="nav navbar-nav">
                <li>
                    <a href="javascript:;">PRINT</a>
                </li>
                <li>
                    <a href="javascript:;">CLOTHING</a>
                </li>
                <li>
                    <a href="javascript:;">ART</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
